
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Entrega3-D-Local.iml
designs/__pycache__/__init__.cpython-37.pyc
designs/__pycache__/__init__.cpython-37.pyc
designs/__pycache__/forms.cpython-37.pyc
designs/__pycache__/__init__.cpython-37.pyc
designs/__pycache__/models.cpython-37.pyc
designs/__pycache__/queue.cpython-37.pyc
designs/__pycache__/views.cpython-37.pyc
ISIS4426_Grupo06_Proyecto1/__pycache__/__init__.cpython-37.pyc
ISIS4426_Grupo06_Proyecto1/__pycache__/settings.cpython-37.pyc
ISIS4426_Grupo06_Proyecto1/__pycache__/urls.cpython-37.pyc
