{% load static %}

<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'home:home' %}" class="logo">
        <span class="logo-mini"><b>P</b>1</span>
        <span class="logo-lg"><b>Proyecto</b> 1</span>
    </a>

    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="{% if user.is_authenticated %}
                        {% url 'home:home' %}
                        {% else %}
                        {% url 'users:login' %}
                        {% endif %}" 
                        class="dropdown-toggle" >
                        <img src="{% static 'img/default-profile.png' %}" 
                            class="user-image" 
                            alt="usuario">
                        <span class="hidden-xs">
                            {% if user.is_authenticated %}
                                {{ request.user.username }}
                            {% else %}
                                Iniciar Sesión
                            {% endif %}
                        </span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>