{% extends "designs/base.html" %}

{% block head_content %}
<title> Projects {{ request.user.username }}</title>
{% endblock %}

{% block container %}
    <h1>Proyectos</h1>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class= "box-title"><i class="fa fa-paper-plane"></i>   Lista de Proyectos</h3>
                    </div>
                
                    <div class="box-body">
                        <div class="table-wrapper">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <td align="center"> <b> Nombre </b></td>
                                        <td align="center"> <b> Descripción </b></td>
                                        <td align="center"> <b> Precio </b></td>
                                        <td align="center"> <b> Fecha de creación </b></td>
                                        <td align="center"> <b> Estado </b></td>
                                        <td align="center"> <b> Empresa </b></td>
                                        <td align="center"> <b> Diseños </b></td>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {% for instance in object_list %}
                                            <tr>
                                                <td>{{instance.project_name}}</td>
                                                <td>{{instance.project_description}}</td>
                                                <td>{{instance.project_payment_value}}</td>
                                                <td>{{instance.project_create_date}}</td>
                                                <td>{{instance.project_state.state_description}}</td>
                                                <td>{{instance.project_enterprise.enterprise_name}}</td>
                                                <td align="center">
                                                    <a href="/designer_home/{{instance.id}}" class="btn btn-info">
                                                        <i class="fa fa-paint-brush"></i>  Ver
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="7">
                                                <div class="col-sm-6 text-right">
                                                {% if page_obj.has_previous %}
                                                    <a href="?page={{page_obj.previous_page_number}}" class="btn btn-danger">
                                                        <i class="fa fa-backward"></i>  Anterior
                                                    </a>
                                                {% endif %}
                                                </div>
                                                {% if page_obj.has_next %}
                                                    <a href="?page={{page_obj.next_page_number}}" class="btn btn-success">
                                                        Siguiente <i class="fa fa-forward"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>    
    </section>
    <!-- 

        DASC: Se comenta este elemento de la vista debido a que resulta innecesario.

    <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-file-image-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Agregar nuevo diseño?</span>
                <span class="info-box-number"><a href="/enterprise/upload">haz clic aquí</a></span>
            </div>
          </div>
    
        </div>
    -->
{% endblock %}